<!-- general templating is from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../styles/style.css">
</head>
<body>

<!-- Simulate a smartphone / tablet -->
<div class="mobile-container">

<!-- Top Navigation Menu -->
<div class="topnav">
  <a class="active">Best Books!</a>
  <div id="myLinks">
    <a href="/">Home</a>
    <a href="/new">Search</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div>
  <h3>Book Details</h3>
</div>

<div class="disp">
    <img src="<%= single.image_url %>" alt="">
    <h2><%=single.title%></h2>
    <h4> <%=single.author%> </h4>
    <p> <%=single.description%> </p>
    <p> <%=single.isbn%> </h6>
</div>

<form action="/deleteBook/<%=single.id%>?_method=delete" method="POST" >
  <button>Delete the Book</button>
</form>

<button id="showForm">Update</button>
<section id="updateForm">
<form action="/updateBook/<%=single.id%>?_method=put" method="POST">
  <input type="text" name="image_url" value="<%= single.image_url %>">
  <input type="text" name="title" value="<%=single.title%>">
  <input type="text" name="author" value="<%=single.author%>">
  <textarea name="description" cols="30" rows="10"><%=single.description %></textarea>
  <input type="text" name="ISBN" value="<%=single.isbn%>">
  <button>Update Book</button>
</form>
</section>



</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/app.js"></script>
<script src="../js/details.js"></script>
</body>
</html>
