<!-- general templating is from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="styles/reset.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="styles/style.css">
</head>
<body>

<!-- Simulate a smartphone / tablet -->
<div class="mobile-container">

<!-- Top Navigation Menu -->
<div class="topnav">
  <a class="active">Best Books!</a>
  <div id="myLinks">
    <a href="/">Home</a>
    <a href="/new">Search</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div>
  <h3>Results</h3>
</div>
<% books.forEach(element => {  %>
    <div class="disp">
        <img src="<%= element.image_url %>" alt="">
        <h2><%=element.title%></h2>
        <h4> <%=element.author%> </h4>
        <p> <%=element.description%> </p>
        <p> <%=element.ISBN%> </p>
                
        <form action="/books" method="POST">
          <input type="hidden" name="image_url" value="<%= element.image_url %>">
          <input type="hidden" name="title" value="<%=element.title%>">
          <input type="hidden" name="author" value="<%=element.author%>">
          <input type="hidden" name="description" value="<%=element.description%>">
          <input type="hidden" name="ISBN" value="<%=element.ISBN%>">
          <button type="submit"> Add to Bookshelf </button>
        </form>
    </div>
<%  })   %>
</div>



<script src="js/app.js"></script>
</body>
</html>


